[submodule "day-03/web-apps-development-day-03"]
	path = day-03/web-apps-development-day-03
	url = https://github.com/shakhawatsabbir/web-apps-development-day-03.git

[submodule "day-04/PHP-Statement-Work"]
	path = day-04/PHP-Statement-Work
	url = https://github.com/shakhawatsabbir/PHP-Statement-Work.git

[submodule "day-04 test/php-array-statement"]
	path = day-04 test/php-array-statement
	url = https://github.com/shakhawatsabbir/php-array-statement.git
[submodule "day-04 test/Create-php-basic-calculator"]
	path = day-04 test/Create-php-basic-calculator
	url = https://github.com/shakhawatsabbir/Create-php-basic-calculator.git
