.blog{
    height: 400px;
    width: 320px;
    border: 1px solid red;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;

}
.category-div{
    margin: auto;
    height: auto;
    width: 900px;
    border: 1px solid red;
}

.img-center{
    height: 400px;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;

}